.pro{
    width: 100%;
    /* background-color: rgb(5, 12, 58); */
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 60px;
}

.pro:hover{
    background-color: rgb(14, 31, 49);
    box-shadow:6px 6px rgb(17, 25, 31);
}

.pro:hover .pro-image, .pro-text{
    opacity: 60%;
}

.pro-image{
    width: 40%;
    margin-right: 20px;
}

.pro-image img{
    width: 100%;
    border-radius: 3px;
}

.pro-content{
    color: rgb(128, 128, 128);
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.pro-heading{
    font-weight: 600;
    font-size: 16px;
    color: white;
    font-family: "Poppins";
}

.pro-text{
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-align: justify;
    font-family: "Poppins";
}

.pro-link{
    margin-top: 12px;
}

.pro-link a{
    color: rgb(215, 215, 215);
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    font-family: "Poppins";
}