.intro-text{
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Roboto";
    font-weight: 400;
    line-height: 28px;
    color: rgb(125, 136, 147);
    font-size: 17px;
}

.exp-intro{
    margin-bottom: 140px;
}