*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.portfolio{
    display: flex;
    width: 100vw;
    padding: 80px 160px;
    align-items: center;
    background-color: rgb(15 23 42);
    font-family: "Roboto";
}

.navbar{
    width: 24%;
    height: 70vh;
    position: fixed;
    top: 12%;
    left: 14%;
    color: white;
}

.content{
    width: 84%;
    color: rgb(180, 180, 180);
    margin-bottom: 80px;
}
