*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.portfolio{
    display: flex;
    width: 100vw;
    padding: 80px 160px;
    align-items: center;
    background-color: rgb(15 23 42);
    font-family: "Roboto";
}

@media screen and (max-width: 440px){
    .portfolio{
        padding: 20px 40px;
    }
}
